<div class="code-container">
  <ngx-codemirror
    [(ngModel)]="datasSet"
    (ngModelChange)="update()"
    (drop)="onDropFile($event)"
    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: { name: 'javascript', json: true }
    }"
  ></ngx-codemirror>
</div>
<button class="favorite styled" type="button" (click)="loadMock()">
  Load default dataSet
</button>
<br />
<label>Select variable: </label>
<select [ngModel]="selectedVariable" (ngModelChange)="onVariableChange($event)">
  <option *ngFor="let variable of variables">
    {{ variable }}
  </option>
</select>
<code *ngIf="badJson">{{ badJson }}</code>

<section id="app-container" *ngIf="datas" (resized)="onResized($event)">
  <!-- <h1>Linear visualization</h1> -->
  <!-- <app-histogram [w]="w" [type]="'lin'" [datas]="datas"></app-histogram> -->
  <!-- <h1>Logarithmic visualization</h1> -->
  <app-histogram [w]="w" [type]="'log'" [datas]="datas"></app-histogram>
</section>
