<div class="code-container">
  <ngx-codemirror
    [(ngModel)]="datasSet"
    (ngModelChange)="update()"
    (drop)="onDropFile($event)"
    [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: { name: 'javascript', json: true }
    }"
  ></ngx-codemirror>
</div>
<button class="favorite styled" type="button" (click)="loadMock()">
  Load default dataSet
</button>
<br />
<label>Select variable: </label>
<select [ngModel]="selectedVariable" (ngModelChange)="onVariableChange($event)">
  <option *ngFor="let variable of variables">
    {{ variable }}
  </option>
</select>
<code *ngIf="badJson">{{ badJson }}</code>
<section id="app-container" (resized)="onResized($event)">
  <h1>Linear X visualization</h1>
  <app-histogram
    [w]="w"
    [xType]="'lin'"
    [yType]="'lin'"
    [datas]="datas"
  ></app-histogram>
  <app-histogram
    [w]="w"
    [xType]="'lin'"
    [yType]="'log'"
    [datas]="datas"
  ></app-histogram>
  <h1>Logarithmic X visualization</h1>
  <app-histogram
    [w]="w"
    [xType]="'log'"
    [yType]="'lin'"
    [datas]="datas"
  ></app-histogram>
  <app-histogram
    [w]="w"
    [xType]="'log'"
    [yType]="'log'"
    [datas]="datas"
  ></app-histogram>
</section>
