* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 1000px;
  text-align: center;
  margin: auto;
}
code {
  color: white;
  background: black;
  padding: 20px;
  display: flex;
  margin-bottom: 40px;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
}

span {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
#logs {
  border: 1px dashed #999;
  max-height: 100px;
  overflow: auto;
  text-align: left;
  position: absolute;
  bottom: 20px;
  width: calc(100% - 80px);
}
p {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}
app-khiops-histogram {
  display: flex;
}

section {
  flex-direction: column;
  display: flex;
}

.axis-grid {
  .domain {
    opacity: 0.1;
  }
  .tick {
    line {
      opacity: 0.07;
    }
  }
}

rect{
  opacity: 0.7;
}
