@import "node_modules/codemirror/lib/codemirror";
@import "node_modules/codemirror/theme/material";

body {
  margin: 20px;
}
textarea {
  color: white;
  background: black;
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  font-size: 12px;
  font-family: "Courier New", Courier, monospace;
  resize: none;
}

code {
  color: red;
  margin-top: 10px;
  display: block;
  font-size: 12px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}

h1 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
app-khiops-histogram {
  margin: 10px;
  display: flex;
  text-align: center;
}

section {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.axis-grid {
  .domain {
    opacity: 0.1;
  }
  .tick {
    line {
      opacity: 0.07;
    }
  }
}

rect {
  opacity: 0.6;
}
rect:hover {
  opacity: 0.7;
}
